@{
    ViewBag.Title = "Management";
}

<div>
    @Html.ActionLink("Browse Opds", "opds")
</div>

<div>
    @Html.ActionLink("Create Book", "book/create")
</div>

<div>
    @Html.ActionLink("Create Category", "category/create")
</div>