@model Opds4Net.Web.Models.Book

        <div class="editor-label">
            @Html.LabelFor(model => model.Categories)
        </div>

        <div class="editor-field">
            <table style="width: 100%">
                <tr>
                    @{
                        int cnt = 0;
                        System.Data.Entity.DbSet<Opds4Net.Web.Models.PickerCategory> categories = ViewBag.Categories;

                        foreach (var category in categories)
                        {
                            if (cnt++ % 3 == 0) {
                                @:  </tr> <tr> 
                            }
                            @: <td> 
                                <input type="checkbox" 
                                       name="selectedCategories" 
                                       value="@category.Id"
                                       @(Html.Raw(Model != null && Model.Categories != null && Model.Categories.Any(c => c.Id == category.Id) ? "checked=\"checked\"" : "")) /> 
                                @category.FullName
                            @:</td>
                        }
                        @: </tr>
                    }
            </table>
        </div>