<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Opds4Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Opds4Net.Properties.Settings>
            <setting name="MimeTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.7z,application/x-7z-compressed</string>
                        <string>.cebx,application/cebx</string>
                        <string>.chm,application/x-chm</string>
                        <string>.doc,application/msword</string>
                        <string>.docx,application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
                        <string>.epub,application/epub+zip</string>
                        <string>.htm,text/html</string>
                        <string>.html,text/html</string>
                        <string>.mobi,application/x-mobipocket-ebook</string>
                        <string>.pdf,application/pdf</string>
                        <string>.rar,application/x-rar-compressed</string>
                        <string>.rtf,application/rtf</string>
                        <string>.snb,application/snb</string>
                        <string>.txt,text/plain</string>
                        <string>.zip,application/zip</string>
                        <string>.xps,application/vnd.ms-xpsdocument</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Opds4Net.Properties.Settings>
    </applicationSettings>
</configuration>